
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    position: relative;
  }
  
  .menu li ul {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .menu li:hover ul {
    display: block;
  }
  
  