*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.compo {
 
    background-color: #ad6e6e;
    padding: 50px;
    text-align: center;
  }
  
  .compo--large {
   
    padding: 100px;
  }
  
  .item {
    
    background-color: #e7b8b8;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
  }
  
  .titulo {
 
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .texto {
 
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .boton {
    background-color: #7a3939;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  